{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href=" {% static 'style/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/font-awesome.min.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title></title>
<!--ginto g thomas-->
<style>
  h1{
  color: #306998;;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  }
p{
  color: ;
  font-family: 'Montserrat', sora-serif;
  font-size: 20px;
}
    </style>
  </head>
  <body>


<!---HEADER OR NAV PART----------->
<!--    <section class="header">-->



<!--    </section>-->
<!---FIRST SECTION INTRO------->
    <section class="image">

         <div class="img" style="background-image:url({% static 'image/home1.jpg' %});"  >

            <div class="intro">
                <h1>Hello world!</h1>
                <h1>Am Ginto G Thomas</h1>
                    <p>I am a Python-Django developer and self-taught Designer</p>
                <a href="https://drive.google.com/file/d/1lKj7T15kyRUIoIFZBZ2Epmr4LQLF8wQl/view?usp=sharing"><button class="button button4">Download CV</button></a>
            </div>
         </div>
    </section>
 <!-----------------------about----------->

    <section class="about">
            <h1> About </h1>
        <div class="abimg" >
	        <img src="{% static 'image/facep.png' %}">
        </div>

        <div class="story">
            <p>My Name Is <b>Ginto G Thomas</b>.<br>I Am A Bachelor of Computer Applications (BCA) Graduate from Mg University, Currently
                Completed Python Django Developer Course And I Like To Code Things From Scratch, And Enjoy Bringing Ideas To Life In The Browser.
                <br>I Am Very Passionate About Web Development And Web Designing, Also I Like Graphic Design As Well. <br>
                Right Now, I 'M looking for a Great Organization and Projects to Start My Career.
                Please Let Me Know If You Want Me on Your Organization.

            </p>
        </div>
    </section>
<!-- The Timeline -->
    <section>
        <ul class="timeline">

	<!-- Item 1 -->
	    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Python-Django</span>
				<span class="time-wrapper"><span class="time">2021-2022</span></span>
			</div>
			<div class="desc">Avodha-Kochi,Infopark. Done Some Projects Using Django Framework</div>
		</div>
	</li>

	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">BCA - Mg universaity</span>
				<span class="time-wrapper"><span class="time">2017-2021</span></span>
			</div>
			<div class="desc">Aman College Science and Technology,Paippad.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Web Design</span>
				<span class="time-wrapper"><span class="time">2016 - 2017</span></span>
			</div>
			<div class="desc">It Park,Thiruvalla, Learn Front End Technology like HTML,CSS,JavaScript,Dreamweaver Etc..and Web Designing Tools Like Photoshop,Coreldraw etc.</div>
		</div>
	</li>


	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">High secondry</span>
				<span class="time-wrapper"><span class="time">June-2016</span></span>
			</div>
			<div class="desc">St John's Higher Secondary School,Eraviperoor.</div>
		</div>
	</li>

	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Sslc</span>
				<span class="time-wrapper"><span class="time">March-2014</span></span>
			</div>
			<div class="desc">Syrian Christian Seminary Higher Secondary School,Thiruvalla.</div>
		</div>
	</li>

    </ul>
    </section>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;end-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!---programmer-------->

<section class="skills" >
    <div class="row" id="skills">
<!--            <div class="col-sm-6">-->
<!--                <h1>Programmer</h1>-->
<!--                    <p>Now i am more foucsing in web technologies using-->
<!--                        python-django framework. and i do some project on that.-->
<!--                        these are my key skills as a developer.-->
<!--                    </p>-->
<!--            </div>-->
      <div class="col-sm-6">
            <h1>skill</h1>
      <!-----------------skill pro--------->
        <div class="skill-bars">
            <div class="bar">
                <div class="info">
                    <span>Python</span>
                </div>
            <div class="progress-line python">
                <span></span>
            </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>Django-framework</span>
                </div>
            <div class="progress-line django">
                <span></span>
             </div>
         </div>
            <div class="bar">
                <div class="info">
                    <span>HTML</span>
                </div>
            <div class="progress-line html">
                <span></span>
            </div>
         </div>
            <div class="bar">
                 <div class="info">
                    <span>CSS</span>
                 </div>
            <div class="progress-line css">
                    <span></span>
            </div>
         </div>

        <div class="bar">
            <div class="info">
                <span>Javascript</span>
            </div>
             <div class="progress-line javascript">
                <span></span>
            </div>
         </div>

        <div class="bar">
            <div class="info">
                <span>Bootstrap</span>
            </div>
            <div class="progress-line bootstrp">
                <span></span>
            </div>
        </div>

        <div class="bar">
             <div class="info">
                <span>Postgresql</span>
                </div>
            <div class="progress-line postgre">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>MySql</span>
            </div>
            <div class="progress-line mysql">
                 <span></span>
             </div>
         </div>
        </div>
      </div>
          <!-----------------skill end------------>

<!--        </div>-->
<!--    </section>-->

<!---designer--------->
<!--<section class="designer" >-->
<!--  <div class="row" id="desin">-->
<!--    <div class="col-sm-6">-->
<!--      <h1>Designer</h1>-->
<!--      <p>i always a creative person and i like create neat and clear-->
<!--designs.-->
<!--and i did lot of freelance works as a designer.-->

<!--these are my key skills as a designer.</p>-->
<!--    </div>-->

   <div class="col-sm-6">
      <h1>skill</h1>
      <!-----------------skill pro--------->
      <div class="skill-bars">
    <div class="bar">
      <div class="info">
        <span>Adobe Photoshop</span>
      </div>
      <div class="progress-line photo">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>CorelDRAW</span>
      </div>
      <div class="progress-line corel">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Adobe Illustrator</span>
      </div>
      <div class="progress-line illus">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Adobe Indesign</span>
      </div>
      <div class="progress-line indes">
        <span></span>
      </div>
    </div>

        <div class="bar">
      <div class="info">
        <span>Lightroom</span>
      </div>
      <div class="progress-line light">
        <span></span>
      </div>
    </div>
  </div>
      <!-----------------skill end------------>
   </div>

 </div>
</section>
<!-------  project  -------->

<section id="projects">
    <div class="container">
        <div class="project-wrapper">
          <h1 class="section-title dark-blue-text">Projects</h1>
{% for i in pro %}
         <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div class="project-wrapper__text load-hidden">
                <h2 class="project-wrapper__text-title">{{i.name}}</h2>
                <div>
                  <p class="mb-4">
                      {{i.desc}}
                  </p>
                </div>

                <a
                  rel="noreferrer"
                  target="_blank"
                  class="cta-btn text-color-main"
                  href="{{i.gitlink}}"
                >
                  Source Code
                </a>
              </div>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="project-wrapper__image load-hidden">
                <a rel="noreferrer" href="{{i.solink}}" target="_blank">
                  <div
                    data-tilt
                    data-tilt-max="4"
                    data-tilt-glare="true"
                    data-tilt-max-glare="0.5"
                    class="thumbnail rounded js-tilt"
                  >
                    <img
                      alt="Project Image"
                      class="img-fluid"
                      src= "{{i.img.url}}"
                    />
                  </div>
                </a>
              </div>
            </div>
          </div>
            {% endfor %}
          <!-- /END Project -->
        </div>
    </div>
</section>

<!---------------end project---------->

<!---what i do--------------->
<section class="what">
    <h1 STYLE="text-align:center">What I Do</h1>
  <div class="row">
      <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="service-thumb">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                    <h4>Web Development</h4>
                <p>I Develop High Level Web Site. And I Love Make Website Using Python and Django</p>
            </div>
      </div>

    <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="service-thumb">
                <i class="fa fa-code" aria-hidden="true"></i>
                    <h4>Web Design</h4>
                <p>I Like to Create Neat and Clean Web Designs.
                    Minimal Designs are My Favorite .</p>
        </div>
    </div>

<!--        <div class="course-col">-->
<!--      <h1>GRAPICS DESIGN</h1>-->
<!--      <P>I do web development using python and django. i have done several projects in python and django</P>-->
<!--    </div>-->
    <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="service-thumb">
            <i class="fa fa-pencil" aria-hidden="true"></i>
                <h4>Graphic Design</h4>
            <p>I Always Like Create Stunning Visuals.
                I do Logos,Posters,Color Grading etc...</p>
        </div>
    </div>
  </div>
</section>
<!-- -------------contact--------- -->

<section>
  <div class="contact" id="contact">
        <h1 style="text-align:center"> contact me</h1>
    <div class="contact-wrapper">
  <!-- Left contact page -->
    <form action=" " method="POST" id="contact-form" class="form-horizontal" role="form">
      {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
        </div>
      </div>
        <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
       <button class="btn send-button" id="submit" type="submit" value="SEND">
        <div class="alt-send-button">
          <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
        </div>
       </button>
    </form>

  <!-- Left contact page -->

      <div class="direct-contact-container">
        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Thiruvalla,kerala</span></i></li>
          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:+91 9946595253" title="Give me a call">+91 9946 59 5253</a></span></i></li>
          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">ginto252@gmail.com</a></span></i></li>
        </ul>

      <hr>
        <ul class="social-media-list">
          <li><a target="_blank" href="https://github.com/ginnto" rel="htts://github.com/" class="contact-icon">
            <i class="fa fa-github" aria-hidden="true"></i></a>
          </li>

          <li><a class="contact-icon" href="https://www.linkedin.com/in/gintogthomas" target="_blank" >
            <i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>

          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-instagram" aria-hidden="true"></i></i></a>
          </li>
        </ul>
      <hr>
          <div class="copyright">If You Want This Layout<br>Feel Free To Use</div>
     </div>

  </div>

</section>

  </div>
</section>

<!-- -------------footer end-------------- -->


  </body>
</html>
